body{
    margin:0;
    box-sizing:border-box;
    padding:0;
    overflow-x:hidden;
    font-family: 'Fredoka', sans-serif;
    background-image:url('../images/background.svg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}main{
    margin-bottom:20px;
}a{
    text-decoration:none;
    color:black;
}#topHeader{
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:repeat(2,1fr);
    background-color:transparent;
    width:100vw;
    min-height:55px;
    margin-bottom:1rem;
    height:auto;
}#topHeader #photo1{
    width:200px;
    margin-left:20px;
}#topHeader #photo2{
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid #abb2b9;
    margin-right:30px;
}#topHeader #Grid2{
    display:flex;
    align-items:center;
    justify-content:right;
}#Content{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}section{
    text-align: center;
}#sec1 h1{
    font-size:45px;
    margin-top:20px;
}#sec2{
    display:flex;
}#Content img{
    height:200px;
    width:200px;
}#Content p{
    font-size:20px;
}#Content .Cards{
    border:1px solid black;
    border-radius:1rem;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    transition:all 0.5s ease-in-out;
}.Cards:hover{
    box-shadow:3px 3px 3px gray;
}#Handle{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}#Handle img{
    height:200px;
    width:200px;
    border-radius:1rem;
    margin-top:30px;
}#Handle p{
    font-size:20px;
    color:black;
    text-shadow:1px 1px 1px teal;
}#Handle .Cards{
    width:250px;
    overflow-wrap:break-word;
    background-color:#CCD1D1;
    border:1px solid gainsboro;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:40px;
    border-radius:1rem;
    transition:all 0.5s ease-in-out;
}