*{
    box-sizing: border-box;
    margin: 0;
    border: 0;   
}
body{
    overflow-y: scroll;
    font-family: 'Rubik', sans-serif;
    background-image:url('../images/background.svg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
body::-webkit-scrollbar {
    display: none;
  }
  .leaderboard{
    height: 100vh;
    overflow-y: scroll;
  }
.leaderboard::-webkit-scrollbar {
    display: none;
  }


table{
   text-align: center;
    margin: 2%; 
    border-collapse: collapse;
}

/* table, th {
    border-spacing: 10px;  
 } */
 #topHeader{
  display:grid;
  grid-template-rows:1fr;
  grid-template-columns:repeat(2,1fr);
  background-color:transparent;
  width:100vw;
  min-height:55px;
  margin-bottom:1rem;
  height:auto;
}#topHeader #photo1{
  width:200px;
  margin-left:20px;
}#topHeader #photo2{
  width:40px;
  height:40px;
  border-radius:50%;
  border:1px solid #abb2b9;
  margin-right:30px;
}#topHeader #Grid2{
  display:flex;
  align-items:center;
  justify-content:right;
}
table th{
  width:380px;
  height:70px;
  font-size: 25px;
  font-weight:bolder;
  background-color:#ffdf5f;
  color: white;
  }
 
  tr {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: #D6EEEE;}

td{
    /* border:1px solid rgb(111, 106, 106); */
  width:380px;
  height:100px;
  font-size: larger;

  }
  td img{
      height: 80%;
      background-color: transparent;
      border-radius: 50%;
  }
  @media(max-width:420px){
    table th,td{
        font-size: 20px;
        line-height: 1.5rem;
        }
  }
