<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <form method="post" action="/forgot">
            <h1>Recovery</h1>
            <input type="email" required placeholder="Email" name="email">
            <button type="submit">Get OTP</button>
            <p>Back to <a href="/login">Login</a></p>
        </form>
    </body>
</html>