<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="/handle">
            <h1>Codeforces Handle</h1>
            <div id="UserProfilePhoto">
                <img src="/images/notfound.png"/>
            </div>
            <input type="text" required placeholder="Handle" name="handle" id="handle">
            <button type="button" onclick="getUser()">Find</button><br/>
            <button type="submit">Confirm</button>
        </form>
    </body>
</html>