<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav id="topHeader">
            <div id="Grid1">
                <img src="/images/Logo2.jpg" id="photo1"/>
            </div>
            <div id="Grid2">
                <a href=""><img src="/images/Logo2.jpg" id="photo2"/></a>
            </div>
        </nav>
    </body>
</html>