<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/images/Logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/leaderboard.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <%- include('loader') %>
  <%- include('header') %>
  <div class="leaderboard">
    <table >
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Questions Solved</th>
          <th >Badges</th>
        </tr>   
        <tr>
          <td>tobias linus emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge1.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge5.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge3.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge1.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge4.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
        <tr>
          <td>Emil</td>
          <td>Tobias</td>
          <td>Linus</td>
          <td><img src="./badges/Badge2.png" alt=""></td>
          </tr>
       
       
        
      </table>
    </div>
    <script src="/js/requests.js"></script>
</body>
</html>