<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="/login">
            <h1>Login</h1>
            <input type="email" required placeholder="Email" name="email">
            <input type="password" required placeholder="Password" name="password">
            <button type="submit">Login</button>
            <p><a href="/forgot">Forgot Password</a></p>
            <p>Don't have an account ? <a href="/signup">Signup</a></p>
        </form>
    </body>
</html>