<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <form method="POST" action="/otp">
            <h1>Enter OTP</h1>
            <input type="text" required placeholder="OTP" name="otp">
            <button type="submit">Confirm</button>
        </form>
        <div>
            <form method="POST" action="/otpRe">
                <button type="submit"><a>resend OTP</a></button>
            </form>
        </div>
    </body>
</html>